@import "../SASS/Composants/button";
@import "../SASS/Utils/variables";
@import "../SASS/Layout/header";
@import "../SASS/Layout/footer";

:root{
    --color-background:#F7F7F7;
    --primary-color:#9356DC;
    --secondary-color:#FCA311;
    --green-color:#99E2D0;
    --green-font:#008766;
    --darkGrey-color:#353535;
    --grey-color:#7E7E7E;
    --lightGrey-color:rgba(246, 246, 246, 1);
    --hover-color:rgba(245, 237, 255, 1);
    --gradients-color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}


html{
    max-width:  768px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

body{
    margin: 0px;
    max-width: 768px;
}

h1{
   font-size: 35px;
   font-weight: 400; 
   font-family: "Shrikhand", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-weight: 300;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

section{
    margin-bottom: 50px;
}

.W300FS18{
    font-weight: 300;
    font-size: 18px;
}

.W500FS19{
    font-weight: 500;
    font-size: 19px;
}

.W700FS18{
    font-weight: 700;
    font-size: 18px;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}


.flexCenter{
    display: flex;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexBetween{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.boxShadow{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.width100{
    width: 100%;
}

.textCenter{
    text-align: center;
}

.backgroundGrey{
    background: $lightGrey-color;
}


.iconGrey i{
    color: $grey-color;
}


/*********** HEADER **************/
header{
    @include header_menu;
}

.arrowIcon{
    position: absolute;
    top: 40%;
    left: 5%;
    i{
        font-size: 1.8em;
    }
    &:hover{
        transform: scale(1.5);
    }
}

.imageStart{
    z-index:-10000000000;
    margin-bottom: -40px;
}

/********* MAIN ***************/
main{
    background-color: $lightGrey-color;
    padding: 30px 20px; 
    border-radius: 40px 40px 0px 0px;
    box-sizing: border-box;
    position: relative;
}

.titleRestaurant{
    padding-right: 1%;
    box-sizing: border-box;
}

/*********** Animation Heart ***********/
.heart2{
    color: $primary-color;
    opacity: 0;
    line-height: 1;
    transition: all 1.5s;
}

.heart1{
    line-height: 1;
}

.anim {
    position: relative;
    left: -30px;
    cursor: pointer;
    i{
    font-size: 1.75em;
    position: absolute;
  }
}

 .anim:hover{
    .heart2{
        opacity: 1;
        transform: scale(1);
        background: $gradients-color;
        background-clip: text;
        color: transparent;
        line-height: 1; 
    }
 } 

 /******** Entré Plats Desserts ********/
.line{
    height: 4px;
    width: 60px;
    background-color: $green-color;
}

.suspension{ 
    white-space: nowrap;
    overflow : hidden;
    -o-text-overflow : ellipsis;  
    text-overflow :    ellipsis;
  }

 .btn3{
    @include button3
 }

 .btn3{
    display: flex;
    position: relative;
    overflow: hidden;
    p, h3{
        margin:4px 0px;
    }
      &:focus{
        .validateRight{
            right: 0;
            display: block;
            text-align: center;
            animation: slide-in 1s ease-in-out;
            i{
                margin: 20px 0px;
            }
        }
        .validateLeft{
            width: 85%;
        }
    }
 }

@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }



 /******** Animation Validate*****/
.validateRight{
    position: absolute;
    right: -15%;
    height: 100%;
    width: 15%;
    background-color: $green-color;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
    transition: right 1s ease-in-out;
    display: none;
    i{
        color: white;
        font-size: 1.8em;
    }
}


.validateLeft{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    transition: width 1s;
}

/*********** Animation Aparition *****************/

/* Aparition Menu */
section{
    overflow: hidden;
}

.aparition{
    opacity: 0;
    animation-delay: 1s;
    animation: aparition 3s ;
    animation-fill-mode: forwards;
}

@keyframes aparition
 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .aparition:nth-child(1){
    animation-delay: 1s;
  }
  .aparition:nth-child(2){
    animation-delay:1s ;
  }
  .aparition:nth-child(3){
    animation-delay: 1.4s;
  }
  .aparition:nth-child(4){
    animation-delay: 1.8s;
  }
  .aparition:nth-child(5){
    animation-delay: 2.2s;
  }
  .aparition:nth-child(6){
    animation-delay:2.6s ;
  }
  .aparition:nth-child(7){
    animation-delay: 2.6s;
  }
  .aparition:nth-child(8){
    animation-delay: 3s;
  }
  .aparition:nth-child(9){
    animation-delay: 3.4s;
  }
  .aparition:nth-child(10){
    animation-delay: 3.8s;
  }
  .aparition:nth-child(11){
    animation-delay: 4.2s;
  }
  .aparition:nth-child(12){
    animation-delay:4.2s ;
  }
  .aparition:nth-child(13){
    animation-delay: 4.6s;
  }
  .aparition:nth-child(14){
    animation-delay: 5s;
  }
  .aparition:nth-child(15){
    animation-delay: 5.4s;
  }

/*********** Commander **********/

.btnCommander{
    @include button;
}

.btnCommander{
    margin: 20px auto;
    &:hover{
        p{
            color: $primary-color;
        }
    }
}

/**************** Footer **********/

footer{
    @include footer_menu;
}

footer{
    margin-top: 0;
}

/*********** Media Queries Desktop 1440px**********************/

@media (min-width: 768px){
    html{
        max-width: 1440px;
        body{
            max-width: 1440px;
            h1{
                font-size: 35px;
            }
        }
    }

        .imageStart{
            height: 370px;
            margin: 0px 0px -60px;
            object-fit: cover;
        }
    
        main{
            max-width: 70%;
            margin: 0px auto;
            padding:30px 12% ;
            .fa-heart{
                margin-left: 20px;
            }
        }
/******** Footer ***********/

.footerResponsivRow{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    svg{
        margin: 2% 10% 0px 30px;
    }
}

.footerResponsiv{
    flex-direction: row;
    align-items: center;
    margin:2% 0px 0px 10%;
    p{
        margin-right: 30px;
    }
  }
}

.mail{
    color: white;
}